src/conf/xml-resources/web-service-references/HubClaroVideo/wsdl/10.218.41.26_6006/WS_MPM_VIDEO_SPR/HubClaroVideo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com.claro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com.claro/" name="HubClaroVideo">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com.claro/" schemaLocation="http://10.218.41.26:6006/WS_MPM_VIDEO_SPR/HubClaroVideo?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="ACT" schemaLocation="http://10.218.41.26:6006/WS_MPM_VIDEO_SPR/HubClaroVideo?xsd=2"/>
</xsd:schema>
</types>
<message name="updateFijaCustomer">
<part name="parameters" element="tns:updateFijaCustomer"/>
</message>
<message name="updateFijaCustomerResponse">
<part name="parameters" element="tns:updateFijaCustomerResponse"/>
</message>
<message name="AccountSuscriberNew">
<part name="parameters" element="tns:AccountSuscriberNew"/>
</message>
<message name="AccountSuscriberNewResponse">
<part name="parameters" element="tns:AccountSuscriberNewResponse"/>
</message>
<message name="AccountSuscriberDown">
<part name="parameters" element="tns:AccountSuscriberDown"/>
</message>
<message name="AccountSuscriberDownResponse">
<part name="parameters" element="tns:AccountSuscriberDownResponse"/>
</message>
<message name="ServiceDesactive">
<part name="parameters" element="tns:ServiceDesactive"/>
</message>
<message name="ServiceDesactiveResponse">
<part name="parameters" element="tns:ServiceDesactiveResponse"/>
</message>
<message name="ServiceActive">
<part name="parameters" element="tns:ServiceActive"/>
</message>
<message name="ServiceActiveResponse">
<part name="parameters" element="tns:ServiceActiveResponse"/>
</message>
<message name="emailUpdate">
<part name="parameters" element="tns:emailUpdate"/>
</message>
<message name="emailUpdateResponse">
<part name="parameters" element="tns:emailUpdateResponse"/>
</message>
<message name="AccountBundleStateUpdate">
<part name="parameters" element="tns:AccountBundleStateUpdate"/>
</message>
<message name="AccountBundleStateUpdateResponse">
<part name="parameters" element="tns:AccountBundleStateUpdateResponse"/>
</message>
<message name="AccountStateUpdate">
<part name="parameters" element="tns:AccountStateUpdate"/>
</message>
<message name="AccountStateUpdateResponse">
<part name="parameters" element="tns:AccountStateUpdateResponse"/>
</message>
<message name="ListAccountSuscriber">
<part name="parameters" element="tns:ListAccountSuscriber"/>
</message>
<message name="ListAccountSuscriberResponse">
<part name="parameters" element="tns:ListAccountSuscriberResponse"/>
</message>
<message name="eligibilityAccount">
<part name="parameters" element="tns:eligibilityAccount"/>
</message>
<message name="eligibilityAccountResponse">
<part name="parameters" element="tns:eligibilityAccountResponse"/>
</message>
<portType name="SprCore">
<operation name="updateFijaCustomer">
<input wsam:Action="http://ws.com.claro/SprCore/updateFijaCustomerRequest" message="tns:updateFijaCustomer"/>
<output wsam:Action="http://ws.com.claro/SprCore/updateFijaCustomerResponse" message="tns:updateFijaCustomerResponse"/>
</operation>
<operation name="AccountSuscriberNew">
<input wsam:Action="http://ws.com.claro/SprCore/AccountSuscriberNewRequest" message="tns:AccountSuscriberNew"/>
<output wsam:Action="http://ws.com.claro/SprCore/AccountSuscriberNewResponse" message="tns:AccountSuscriberNewResponse"/>
</operation>
<operation name="AccountSuscriberDown">
<input wsam:Action="http://ws.com.claro/SprCore/AccountSuscriberDownRequest" message="tns:AccountSuscriberDown"/>
<output wsam:Action="http://ws.com.claro/SprCore/AccountSuscriberDownResponse" message="tns:AccountSuscriberDownResponse"/>
</operation>
<operation name="ServiceDesactive">
<input wsam:Action="http://ws.com.claro/SprCore/ServiceDesactiveRequest" message="tns:ServiceDesactive"/>
<output wsam:Action="http://ws.com.claro/SprCore/ServiceDesactiveResponse" message="tns:ServiceDesactiveResponse"/>
</operation>
<operation name="ServiceActive">
<input wsam:Action="http://ws.com.claro/SprCore/ServiceActiveRequest" message="tns:ServiceActive"/>
<output wsam:Action="http://ws.com.claro/SprCore/ServiceActiveResponse" message="tns:ServiceActiveResponse"/>
</operation>
<operation name="emailUpdate">
<input wsam:Action="http://ws.com.claro/SprCore/emailUpdateRequest" message="tns:emailUpdate"/>
<output wsam:Action="http://ws.com.claro/SprCore/emailUpdateResponse" message="tns:emailUpdateResponse"/>
</operation>
<operation name="AccountBundleStateUpdate">
<input wsam:Action="http://ws.com.claro/SprCore/AccountBundleStateUpdateRequest" message="tns:AccountBundleStateUpdate"/>
<output wsam:Action="http://ws.com.claro/SprCore/AccountBundleStateUpdateResponse" message="tns:AccountBundleStateUpdateResponse"/>
</operation>
<operation name="AccountStateUpdate">
<input wsam:Action="http://ws.com.claro/SprCore/AccountStateUpdateRequest" message="tns:AccountStateUpdate"/>
<output wsam:Action="http://ws.com.claro/SprCore/AccountStateUpdateResponse" message="tns:AccountStateUpdateResponse"/>
</operation>
<operation name="ListAccountSuscriber">
<input wsam:Action="http://ws.com.claro/SprCore/ListAccountSuscriberRequest" message="tns:ListAccountSuscriber"/>
<output wsam:Action="http://ws.com.claro/SprCore/ListAccountSuscriberResponse" message="tns:ListAccountSuscriberResponse"/>
</operation>
<operation name="eligibilityAccount">
<input wsam:Action="http://ws.com.claro/SprCore/eligibilityAccountRequest" message="tns:eligibilityAccount"/>
<output wsam:Action="http://ws.com.claro/SprCore/eligibilityAccountResponse" message="tns:eligibilityAccountResponse"/>
</operation>
</portType>
<binding name="SprCorePortBinding" type="tns:SprCore">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateFijaCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountSuscriberNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountSuscriberDown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ServiceDesactive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ServiceActive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="emailUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountBundleStateUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountStateUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListAccountSuscriber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eligibilityAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HubClaroVideo">
<port name="SprCorePort" binding="tns:SprCorePortBinding">
<soap:address location="http://10.218.41.26:6006/WS_MPM_VIDEO_SPR/HubClaroVideo"/>
</port>
</service>
</definitions>